version: '3.8'

services:
    #api: #backend
    #    build: ./backend
    #    container_name: ryuoushogi_api
    #    ports:
    #        - "8000:8000"
    #    volumes:
    #        - ./backend:/app
    #        - ./engines:/app/engines
    #    image:
    web: #frontend
      build: ./apache
      container_name: myapache
      ports:
        - "80:80"
      volumes:
      - ../web-data:/usr/local/apache2/htdocs/
      #path: "$(pwd)/web-data:/usr/local/apache2/htdocs"
      restart: always
    db: #database
        image: mysql:latest
        container_name: test-mysql
        environment:
            POSTGRES_USER: root
            POSTGRES_PASSWORD: mydb
            MYSQL_ROOT_PASSWORD: test
            MYSQL_DATABASE: test
            MYSQL_USER: test
            MYSQL_PASSWORD: test
        ports:
            - "3306:3306"
        volumes:
            - shogi-data:/var/lib/mysql
        depends_on:
            - web
        restart: always
volumes:
  shogi-data: