version: '3.8'

services:
    api: #backend
        build: ./backend
        container_name: ryuoushogi_api
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
            - ./engines:/app/engines
        image:
    ryuoushogi: #frontend
      image: ryuoushogi/ryuoushogi:latest
      container_name: ryuoushogi
      ports:
        - "8080:80"
    volumes:
      - ./backend/app
      - ./engines/app/engines
    restart: always